* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: ArialMT;
    src: url(/guide/fonts/ArialMT.ttf);
}

@font-face {
    font-family: Arial-BoldMT;
    src: url(/guide/fonts/ArialBoldMT.ttf);
}

:root {
    --padding-big: 40px;
    --padding-small: 20px;
    --margin-big: 29px;
    --margin-medium: 26px;
    --margin-small: 15px;
}

body{
    margin: auto;
    max-width: 1450px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var(--padding-big);
    font-family: ArialMT, Helvetica, sans-serif;
    color: #858585;
}

/* common styles for headings */

.heading-text {
    font-family: Arial-BoldMT;
    color: #333333;
}

/* ^^^ common styles for headings ^^^ */

/* common styles for tiles */

.item{
    background: #F7F7F7;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.item:hover {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.item__icon {
    width: 24px;
    height: 24px;
}

.item__heading {
    font-size: 14px;
}

.item__text {
    font-size: 12px;
    margin-top: 4px;
}

/*^^^ common styles for tiles ^^^*/

.header {
    height: 92px;
    display: flex;
    align-items: center;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: var(--margin-big);
}

.header__logo {
    /* Если что, потом разрежем на две
    */
    background: url("guide/assets/Яндекс Дом.svg/") no-repeat ;
    width: 108px;
    height: 27px;
    margin-right: var(--margin-medium);
}

.header-menu__icon {
    display: none;
    width: 16px;
}

.header-menu__item{
    display: inline-block;
}

.header__menu-link {
    opacity: 0.6;
    font-size: 16px;
    margin-left: var(--margin-medium);
}

.header__menu-link:hover {
    opacity: 0.8;
}

.header__menu-link:active {
    opacity: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - var(--padding-small)), calc(50% - var(--padding-small))));
    grid-gap: var(--margin-medium);
    row-gap: var(--margin-big);
}

/*
-
-
delete the code below!!!
-
-
 */

section {
    border-radius: 15px;
    border: 1.5px dashed #FFD93E;
}

/*
-
-
delete the code above!!!
-
-
 */

 /*//////////////////////////////////////////////////////////*/
.main__section-title {
    font-size: 18px;
}

.section-main__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-small);
    flex-wrap: wrap;
    background: url("guide/assets/bg@2x.png");
    background-size: cover;
    border-radius: 20px;
    margin-top: var(--padding-small);
}

.section-main__info {
    max-width: 360px;
    display: flex;
    flex-direction: column;
}

.section-main__info-greeting {
    font-size: 27px;
    margin-bottom: 5px;
}

.section-main__info-general {
    font-size: 14px;
    color:#333333;
}

.section-main__info-weather {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.section-main__info-temp {
    height: 63px;
}

.section-main__info-temp--text {
    font-size: 14px;
}

.section-main__info-temp--deg {
    font-size: 36px;
}

.section-main__info-temp-home {
    margin-right: 18px;
}

.section-main__info-temp-out {
    margin-right: 5px;
}

.section-main__weather-icon {
    width: 26px;
    height: 26px;
    margin-top: 27px;
}

.section-main__scheduled-list {
    display: grid;
    grid-auto-rows: 126px;
    grid-template-columns: 206px;
    grid-gap: 20px;
    overflow: hidden;
}

/*//////////////////////////////////////////////////////////*/

.section-main__selected-list {
    padding-top: var(--padding-small);
    display: grid;
    grid-template-rows: 106px 106px 106px;
    grid-template-columns: repeat(auto-fill, minmax(206px, 206px));
    grid-gap: 20px;
    overflow: hidden;
}

.section-main__selected-list-item {
    height: 100px;
}

/*//////////////////////////////////////////////////////////*/

.main__section--devices {
    grid-column: 1 / -1;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section--devices__head {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section--devices__heading {
    display: inline;
    margin-right: 13px;
}

.section--devices__menu--mobile {
    display: none;
}

.menu-section {   
    display: flex;
    border: none;
}
.modal__menu {
    margin: 20px 0 25px;
}

.menu-section__item {
    display: none;
}

.menu-section__item--label{
    background: #F0F0F0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: #000000;
    margin-right: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.menu-section__item:checked + label {
    background: #FFD93E;
}

.section--devices__devices--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 206px);
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow: hidden;
    padding-top: var(--padding-small);
}

/*//////////////////////////////////////////////////////////*/

.footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    width: 424px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__link {
    font-size: 12px;
    color: #858585;
    margin-right: 14px;
}

.footer__link:hover {
    color: #333333;
}

.footer__link:active {
    color: #333333;
}

.footer__copyright-text {
    font-size: 12px;
}


/* **************** modal styles **************** */

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(51,51,51,0.50);
    z-index: 2;
}

.overlay.popup {
    visibility: visible;
    z-index: 100;
}

.modal-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    grid-template-columns: 307px 307px;
    grid-gap: 16px;
    row-gap: 20px;
    transition: all 350ms ease-in-out; 
}

.modal-container.popup {
    visibility: visible;
    z-index: 200;
    opacity: 1;
    transform:  translate(-50%, -50%) scale(1);
}

.modal__item {
    background: #FFFFFF;
    border-radius: 20px;
}

.modal__main {
    grid-column: 1 / -1;
}

.modal__main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-item__button {
    height: 60px;
    font-size: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal__button--submit {
    background: #FFD93E;
}

.modal__main--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__main--heading {
    font-size: 27px;
    margin-bottom: 6px;
}

.modal__main--state-text{
    font-size: 14px;
    color: #333333;
}

.modal__main--data {
    display: flex;
}

.modal__main--data-text {
    font-size: 36px;
    margin-right: 6px;
}

.modal__main--data-icon {
    height: 42px;
    width: 42px;
}

.modal__main--settings-menu {
    margin: 25px 0;
}

/* ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmv */
.menu-section__item--range {
    -webkit-appearance: none;
    width: 100%;
    height: 60px;
    margin: 0;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

.temperature-menu-section__item--range {
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
}

.lights-menu-section__item--range {
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
}

.menu-section__item--range::-moz-range-track,
.menu-section__item--range::-ms-fill-lower,
.menu-section__item--range::-ms-fill-upper  {
    background: transparent;
    /* border: inherit;*/
}

.menu-section__item--range::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}


.menu-section__item--range::-ms-tooltip {
    display: none;
}

.menu-section__item--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
    z-index: 5000;
}

.menu-section__item--range::-moz-range-thumb {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
}

.menu-section__item--range::-ms-thumb {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
}

.temperature-range__extremes {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 90px);
    top: 168px;
    left: 45px; 
    height: 0;
}

.temperature-range__extreme {
    font-size: 18px;
    color: #FFFFFF;
    white-space: nowrap;
}


/* ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ */
.overlay--hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.modal-container--hidden{
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.hidden {
    display: none;
}

/* **************** modal styles **************** */

@media screen and (max-width: 1444px) {
    .section-main__selected-list {
        grid-auto-flow: column;
        }
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: repeat(auto-fit, minmax(335px, 632px));
    }

    .section-main__scheduled-list {
        grid-auto-flow: column;
        overflow: scroll;
    }

    .section-main__selected-list {
        grid-template-rows: 106px;
        grid-auto-flow: column;
        overflow: scroll;
    }

    .section--devices__devices--list {
        overflow: scroll;
    }
}

@media screen and (max-width: 425px) {
    body {
        padding: 0 var(--padding-small);
    }

    .header {
        height: 64px;
        justify-content: space-between;
        padding: 12px 0px;
        margin-bottom: 13px;
        border: none;
    }

    .header-menu-container {
        height: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .header-menu {
        z-index: 10;
    }

    .header__menu-link {
        margin: 0;
        font-size: 14px;
        color: #333333;
    }

     .header-menu--hidden {
        display: none;
    }

    .header-menu__icon {
        display: block;
        margin-left: 8px;
    }

    .header-menu__item {
        display: block;
        margin-top: 4px; 
        transform: translateX(0);
        transition: transform 1s;       
    }

    .header-menu__item:hover {
        transform: translateX(-12px);
    }

    .header-menu__item:first-child {
        margin-top: 0;        
    }

    .section-main__container {
        margin-top: 0;
    }

    .main__section-title {
        display: none;
    }
    .footer__links {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__link {
        margin-right: 16px;
    }

    .section--devices__menu {
        display: none;
    }
   
    .section--devices__menu--mobile {
        display: inline;
        font-size: 13px;
        padding: 8px 15px;
        background: #FFD93E;
        border: none;
        border-radius: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    .modal-container {
        grid-template-columns: 334px;
        grid-gap: 15px;
    }

    .modal__main {
        padding: 20px;
    }

    .modal__main--data {
        display: none;
    }

    .modal__main--heading {
        font-size: 18px;
        margin-bottom: 6px;
    }

    .modal__main--state-text{
        font-size: 12px;
        color: #333333;
    }

    .modal__menu{
        overflow: scroll;
        width: 314px;
    }
    .modal__main--settings-menu-item--text {
        font-family: ArialMT;
    }

    .modal__main--range-slider {
        height: 336px;
    }  

    .menu-section__item--range {
        width: 336px;
        transform: rotate(270deg) translate(-135px, -20px);
    }

    .temperature-range__extremes {
        flex-direction: column-reverse;
        height: 308px;
        width: 0;
        top: 142px;
        left: 153px;
    }
}
