* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: ArialMT;
    src: url(/guide/fonts/ArialMT.ttf);
}

@font-face {
    font-family: Arial-BoldMT;
    src: url(/guide/fonts/ArialBoldMT.ttf);
}

:root {
    --padding-big: 40px;
    --padding-small: 20px;
    --margin-big: 29px;
    --margin-medium: 26px;
    --margin-small: 15px;
}

body{
    margin: auto;
    max-width: 1450px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: var(--padding-big);
    padding-right: var(--padding-big);
    font-family: ArialMT, Helvetica, sans-serif;
    color: #858585;
}

/* common styles for headings */

.heading-text {
    font-family: Arial-BoldMT;
    color: #333333;
}

/* ^^^ common styles for headings ^^^ */

/* common styles for tiles */

.item{
    background: #F7F7F7;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 120px;
}

.item:hover {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.item__icon {
    width: 24px;
    height: 24px;
}

.item__heading {
    font-size: 14px;
}

.item__text {
    font-size: 12px;
    margin-top: 4px;
}

/*^^^ common styles for tiles ^^^*/

.header {
    height: 92px;
    display: flex;
    align-items: center;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: var(--margin-big);
}

.header__logo {
    /* Если что, потом разрежем на две
    */
    background: url("guide/assets/Яндекс Дом.svg/") no-repeat ;
    width: 108px;
    height: 27px;
    margin-right: var(--margin-medium);
}

.header__menu-link {
    opacity: 0.6;
    font-size: 16px;
    margin-left: var(--margin-medium);
}

.header__menu-link:hover {
    opacity: 0.8;
}

.header__menu-link:active {
    opacity: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - var(--padding-small)), calc(50% - var(--padding-small))));
    grid-gap: var(--margin-medium);
    row-gap: var(--margin-big);
}

/*
-
-
delete the code below!!!
-
-
 */

section {
    border-radius: 15px;
    border: 1.5px dashed #FFD93E;
}

/*
-
-
delete the code above!!!
-
-
 */

 /*//////////////////////////////////////////////////////////*/
.main__section-title {
    font-size: 18px;
}

.section-main__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-small);
    flex-wrap: wrap;
    background: url("guide/assets/bg@2x.png");
    background-size: cover;
    border-radius: 20px;
    margin-top: var(--padding-small);
}

.section-main__info {
    max-width: 360px;
    display: flex;
    flex-direction: column;
}

.section-main__info-greeting {
    font-size: 27px;
    margin-bottom: 5px;
}

.section-main__info-general {
    font-size: 14px;
    color:#333333;
}

.section-main__info-weather {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.section-main__info-temp {
    height: 63px;
}

.section-main__info-temp--text {
    font-size: 14px;
}

.section-main__info-temp--deg {
    font-size: 36px;
}

.section-main__info-temp-home {
    margin-right: 18px;
}

.section-main__info-temp-out {
    margin-right: 5px;
}

.section-main__weather-icon {
    width: 26px;
    height: 26px;
    margin-top: 27px;
}

.section-main__scheduled-list {
    display: grid;
    grid-auto-rows: 126px;
    grid-template-columns: 206px;
    grid-gap: 20px;
    overflow: hidden;
}

/*//////////////////////////////////////////////////////////*/

.section-main__selected-list {
     padding-top: var(--padding-small);
     display: grid;
     grid-template-rows: 106px 106px 106px;
     grid-template-columns: repeat(auto-fill, minmax(206px, 206px));
     grid-gap: 20px;
     overflow: hidden;
}

.section-main__selected-list-item {
    height: 100px;
}

/*//////////////////////////////////////////////////////////*/

.main__section--devices {
    grid-column: 1 / -1;
    margin-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.section--devices__heading {
    display: inline;
    margin-right: 13px;
}

.section--devices__menu--mobile {
    display: none;
}

.menu-section {
    display: inline-block;
    border: none;
}

.menu-section__item {
    -webkit-appearance:none;
    -moz-appearance:none;
}

.menu-section__item--label{
    background: #F0F0F0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: #000000;
    margin-right: 5px;

}

.menu-section__item:checked + label {
    background: #FFD93E;
}

.section--devices__devices--list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 206px);
    grid-auto-flow: column;
    grid-gap: 20px;
    overflow: hidden;
    padding-top: var(--padding-small);
}

/*//////////////////////////////////////////////////////////*/

.footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__links {
    width: 424px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__link {
    font-size: 12px;
    color: #858585;
    margin-right: 14px;
}

.footer__link:hover {
    color: #333333;
}

.footer__link:active {
    color: #333333;
}

.footer__copyright-text {
    font-size: 12px;
}


/* **************** module styles **************** */

.module {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(51,51,51,0.50);
    z-index: 2;
    cursor: pointer;
}

.module-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.desktop-module-container {
    grid-template-columns: 307px 307px;
    grid-gap: 16px;
    row-gap: 20px;
}

.desktop-module-container--small {
    grid-template-rows: 238px 60px;
}

.desktop-module-container--big {
    grid-template-rows: 343px 60px;
}

.module__item {
    background: #FFFFFF;
    border-radius: 20px;
}

.module--desktop__main {
    grid-column: 1 / 3;
}

.module__main {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.module-item__button {
    font-size: 18px;
    border: none;
    outline: none;
}

.module-item__button:hover {
    text-shadow: 0.5px 0px #858585;
}

.module__button--submit {
    background: #FFD93E;
}

.module--desktop__main--head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.module--desktop__main--heading {
    font-size: 27px;
    margin-bottom: 6px;
}

.module--desktop__main--state-text{
    font-size: 14px;
    color: #333333;
}

.module--desktop__main--data {
    display: flex;

}

.module--desktop__main--data-text {
    font-size: 36px;
    margin-right: 6px;
}

.module--desktop__main--data-icon {
    height: 42px;
    width: 42px;
}

.module--desktop__main--settings-menu {
    margin: 25px 0;
}
.module__main--settings-menu--item:first-child {
    margin-left: -4px;
}

.home-temperature-module--desktop {
    display: none;
}
.home-lights-module--desktop {
    display: none;
}

.home-floor-module--desktop {
    display: none;
}
/* ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmv */
.temperature-menu-section__item--range {
    -webkit-appearance: none;
    width: 100%;
    height: 60px;
    margin: 0;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
    outline: none;
}

.menu-section__item--range::-moz-range-track {
    background: transparent;
    /* border: inherit;*/
}

.menu-section__item--range::-ms-track {
    border: inherit;
    color: transparent; /* don't drawn vertical reference line */
    background: transparent;
}

.menu-section__item--range::-ms-fill-lower,
.menu-section__item--range::-ms-fill-upper {
    background: transparent;
}

.menu-section__item--range::-ms-tooltip {
    display: none;
}


.menu-section__item--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid rgba(51,51,51,0.10);
    border: 4px solid #FFFFFF;
    box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);
}
.menu-section__item--range::-moz-range-thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid rgba(51,51,51,0.10);
    border: 4px solid #FFFFFF;
    box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);}

.menu-section__item--range::-ms-thumb {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid rgba(51,51,51,0.10);
    border: 4px solid #FFFFFF;
    box-shadow: 0 1px 10px -7px rgba(0,0,0,0.50);
}


.lights-menu-section__item--range {
    -webkit-appearance: none;
    width: 100%;
    height: 60px;
    margin: 0;
    border: none;
    border-radius: 30px;
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
    outline: none;
}

/* ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ ps;gkjhbdrvf;olirkejbhgjnmvcs/ */

.home-temperature-module--mobile {
    display: none;
}

.home-lights-module--mobile {
    display: none;
}

.home-floor-module--mobile {
    display: none;
}


.hidden {
    display: none;
}

.show {
    display: flex;
}
/* **************** module styles **************** */



@media screen and (max-width: 1444px) {
    .section-main__selected-list {
        grid-auto-flow: column;
        }
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: repeat(auto-fit, minmax(335px, 632px));
    }

    .section-main__scheduled-list {
        grid-auto-flow: column;
        overflow: scroll;
    }

    .section-main__selected-list {
        grid-template-rows: 106px;
        grid-auto-flow: column;
        overflow: scroll;
    }

    .section--devices__devices--list {
        overflow: scroll;
    }

    .section--devices__menu {
        display: none;
    }

    .section--devices__menu-item {
        -webkit-appearance: none;
    }

    .section--devices__menu-item--label{
        background: #F0F0F0;
        padding: 8px 15px;
        border-radius: 20px;
        font-size: 13px;
        color: #000000;
    }

    .section--devices__menu-item:checked + label {
        background: #FFD93E;
    }

    .section--devices__menu-item--mobile--label {
        padding: 8px 15px;
    }

    .section--devices__menu--mobile {
        display: inline;
        font-size: 13px;
        padding: 8px 15px;
        background: #FFD93E;
        border: none;
        border-radius: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
    }
}
@media screen and (max-width: 425px) {
    body {
        padding: 6px;
    }

    .footer__links {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__link {
        margin-right: 16px;
    }
}

@media screen and (max-width: 650px) {

    /* **************** module styles **************** */

.mobile-module-container {
    grid-template-columns: 334px;
    grid-template-rows: 492px 60px 60px;
    grid-gap: 15px;
}

.module--mobile__main--heading {
    font-size: 18px;
    margin-bottom: 6px;
}

.module--mobile__main--state-text{
    font-size: 12px;
    color: #333333;
}

.module--mobile__main--settings-menu {
    margin: 20px 0;
    overflow: scroll;
    white-space: nowrap;
    height: 35px;
    max-width: 300px;
    padding-top: 6px;
}

.module-menu-item-container--mobile {
    display: inline-block;
}

.module--mobile__main--range-slider {
    height: 336px;
}

.mobile-menu-section__item--range {
    width: 336px;
    transform: rotate(270deg) translate(-135px, -25px);
}

.home-temperature-module--mobile {
    display: none;
}

.home-lights-module--mobile {
    display: none;
}

.home-floor-module--mobile {
    display: none;
}

}