* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: ArialMT;
    src: url(/guide/fonts/ArialMT.ttf);
}

@font-face {
    font-family: Arial-BoldMT;
    src: url(/guide/fonts/ArialBoldMT.ttf);
}

:root {
    --padding-big: 40px;
    --padding-small: 20px;
    --margin-big: 29px;
    --margin-medium: 26px;
    --margin-small: 15px;
    --text-grand: 27px;
    --text-big: 18px;
    --text-medium: 14px;
    --text-small: 12px;
    --text-dark: #333333;
}

body{
    margin: auto;
    max-width: 1450px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 var(--padding-big);
    font-family: ArialMT, Helvetica, sans-serif;
    color: #858585;
}

.emphasized-text {
    font-family: Arial-BoldMT;
    color: var(--text-dark);
}

.text--output {
    font-size: 36px;
}

.text--main-title {
    font-size: var(--text-big);
}

.text--element-title {
    font-size: var(--text-medium);
}

.text--content {
    font-size: var(--text-small);
}

.item{
    background: #F7F7F7;
    border-radius: 20px;
    padding: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    height: 120px;
    cursor: pointer;
}

.item:hover {
    background: #FFFFFF;
    box-shadow: 0 2px 6px 0 rgba(197,186,186,0.50);
}

.item__icon {
    width: 24px;
    height: 24px;
}

.item__text {
    margin-top: 4px;
}

.header {
    height: 92px;
    display: flex;
    align-items: center;
    border-top: 1px solid #F0F0F0;
    border-bottom: 1px solid #F0F0F0;
    margin-bottom: var(--margin-big);
}

.header__logo {
    background: url("guide/assets/Яндекс\ Дом.svg") no-repeat;
    width: 114px;
    height: 39px; 
    margin-right: 52px;
}

.header-menu__icon {
    display: none;
    width: 16px;
}

.header-menu__item {
    display: inline-block;
    opacity: 0.6;
    font-size: 16px;
}

.header-menu__item + .header-menu__item {
    margin-left: var(--margin-medium);
}

.header__menu-link:hover {
    opacity: 0.8;
}

.header__menu-link:active {
    opacity: 1;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - var(--padding-small)), calc(50% - var(--padding-small))));
    grid-gap: var(--margin-medium);
    row-gap: var(--margin-big);
}

.section-main__title {
    margin-bottom: 20px;
}

.section-main__container {
    display: flex;
    max-height: 351px;
    overflow: hidden;
    justify-content: space-between;
    align-items: flex-start;
    padding: var(--padding-small);
    padding-bottom: 0;
    flex-wrap: wrap;
    background: url("guide/assets/bg@2x.png");
    background-size: cover;
    border-radius: 20px;
}

.section-main__info {
    max-width: 360px;
    display: flex;
    flex-direction: column;
}

.section-main__info-greeting {
    font-size: var(--text-grand);
    margin-bottom: 5px;
}

.section-main__info-general {
    color: var(--text-dark);
}

.section-main__info-weather {
    display: flex;
    margin-top: 25px;
}

.section-main__info-temp {
    height: 63px;
}

.section-main__info-temp--text {
    margin-bottom: 5px;
}

.with-icon {
    position: relative;
}

.with-icon--drizzle::after {
    background: url('guide/assets/cloud-drizzle@2x.png') no-repeat center;
}

.with-icon::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    width: 26px;
    height: 26px;
    background-size: cover;
    margin-left: 5px;
}

.section-main__info-temp-home {
    margin-right: 18px;
}

.section-main__info-temp-out {
    margin-right: 5px;
}


.section-main__weather-icon {
    width: 26px;
    height: 26px;
    margin-top: 27px;
}

.scheduled-list {
    display: grid;
    grid-auto-rows: 126px;
    grid-template-columns: 206px;
    grid-gap: 20px;
    max-height: 311px;
    overflow: scroll;
}

.main__section--selected {
    overflow: hidden;
}

.selected-list {
    padding: 0 0 4px 4px;
    display: grid;
    grid-template-rows: 106px 106px 106px;
    grid-template-columns: repeat(auto-fill, minmax(206px, 206px));
    grid-gap: 16px;
    grid-auto-flow: column;
    transition: transform 1s;
}

.selected-list-item {
    height: 100px;
}

.main__section--devices {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
}

.devices-section__heading {
    display: inline;
    margin: 0 13px 0 0;
}
.devices-section__menu--mobile {
    display: none;
}
.menu-section {   
    display: flex;
    border: none;
}

.modal__menu {
    margin: 20px 0 25px;
}

.menu-section__item {
    display: none;
}

.menu-item__label{
    background: #F0F0F0;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: #000000;
    margin-right: 10px;
    white-space: nowrap;
    cursor: pointer;
}

.menu-section__item:checked + label {
    background: #FFD93E;
}

.devices-menu--mobile__icon {
    display: none;
}

.devices-list {
    padding: 0 0 4px 4px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 206px);
    grid-auto-flow: column;
    grid-gap: 20px;
    transition: transform 1.5s;
}

.footer {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3px;
}

.footer__links {
    width: 424px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__link {
    margin-right: 14px;
    color: #858585;
}

.footer__link:hover {
    color: var(--text-dark);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:  rgba(51,51,51,0.50);
    z-index: 2;
    transition: all 350ms ease-in-out;
    transform:  scale(1);
}


.modal-container {
    display: grid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:  translate(-50%, -50%) scale(1);
    grid-template-columns: 307px 307px;
    grid-gap: 16px;
    row-gap: 20px;
    transition: all 350ms ease-in-out; 
}

.modal__item {
    background: #FFFFFF;
    border-radius: 20px;
}

.modal__main {
    grid-column: 1 / -1;
    padding: 25px;
}

.modal-item__button {
    height: 60px;
    border: none;
    outline: none;
    cursor: pointer;
}

.modal__button--submit {
    background: #FFD93E;
}

.modal__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__heading {
    font-size: var(--text-grand);
    margin-bottom: 6px;
}

.modal__main--state-text{
    color: var(--text-dark);
}

.modal__data {
    display: flex;
}

.modal__data-text {
    margin-right: 6px;
}

.modal__data-icon {
    height: 42px;
    width: 42px;
}

.modal__main--settings-menu {
    margin: 25px 0;
}

.modal__main--range-slider {
    position: relative;
}

.menu-section__item--range {
    -webkit-appearance: none;
    width: 100%;
    height: 60px;
    margin: 0;
    border: none;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
}

.temperature-menu-section__item--range {
    background-image: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
}

.lights-menu-section__item--range {
    background-image: linear-gradient(85deg, #FFE682 2%, #FF9E00 98%);
}

.menu-section__item--range::-moz-range-track,
.menu-section__item--range::-ms-fill-lower,
.menu-section__item--range::-ms-fill-upper  {
    background: transparent;
    /* border: inherit;*/
}

.menu-section__item--range::-ms-track {
    border: inherit;
    color: transparent; 
    background: transparent;
}


.menu-section__item--range::-ms-tooltip {
    display: none;
}

.menu-section__item--range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
}

.menu-section__item--range::-moz-range-thumb {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
}

.menu-section__item--range::-ms-thumb {
    width: 67px;
    height: 67px;
    border-radius: 50%;
    background-color: transparent;
    border: 4px solid #FFFFFF;
    box-shadow: inset 0px 0px 0px 3px rgba(230, 177, 93, 0.904);
}

.range__extremes {
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    left: 20px;
}

.temperature-range__extreme {
    color: #FFFFFF;
    white-space: nowrap;
}

.light-range__extremes {
    right: 15px;
    left: 15px;
}

.lights-range__extreme {
    width: 36px;
    height: 36px;
}
.overlay--hidden {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}

.modal-container--hidden{
    will-change: auto;
    transform: translate(-50%, -50%) scale(0);
}

.hidden {
    display: none;
}

.section__head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.devices__head--menu {
    display: flex;
    align-items: baseline;
}

.paginator-container {
    display: flex;
    width: 45px;
    justify-content: flex-end;
}

.paginator-button {
    width: 15px;
    height: 16px;
    border: none;
    outline: none;
    background: url('guide/assets/Icons/Arrow_Right/M-Copy@2x.png') no-repeat ;
    background-size: contain;
}

.paginator-button:disabled {
    filter: opacity(0.4);
}

.paginator--forward {
    transform: rotate(180deg);
}

.floor-modal__input-container {
    display: flex;
    justify-content: center;
}

.floor-menu-section__item--range {
    display: none;
}

.floor-modal--output {
    position: relative;
    height: 221px;
    width: 221px;
    background: url("guide/assets/background@1x.svg") no-repeat;
    background-size: 185px 185px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    z-index: 50;
}

.floor-modal--output::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(guide/assets/Oval@1x.svg) no-repeat;
    transform: rotate(-65deg);
    z-index: 5;
}

.floor-modal--output::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(guide/assets/Oval\ Copy@1x.svg) no-repeat;
    left: 143px;
    top: 70px;
    transform: rotate(-19deg);
    z-index: 6;
    pointer-events: none;
}

.floor-output--text {
    z-index: 10;
}

@media screen and (min-width: 1420px) {
    .selected-list {
        grid-auto-flow: row;
        }
}

@media screen and (max-width: 768px) {
    .main {
        grid-template-columns: repeat(auto-fit, minmax(335px, 632px));
    }

    .scheduled-list {
        grid-auto-flow: column;
        overflow: scroll;
    }

    .selected-list {
        grid-template-rows: 106px;
        grid-auto-flow: column;
        overflow: scroll;
    }

    .devices-list {
        overflow: scroll;
    }

    .paginator-container {
        display: none;
    }
    
}

@media screen and (max-width: 705px) {
    body {
        padding: 0 var(--padding-small);
    }

    .header {
        height: 64px;
        justify-content: space-between;
        padding: 12px 0px;
        margin-bottom: 13px;
        border: none;
    }

    .header-menu-container {
        height: 40px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
    }

    .header-menu {
        z-index: 10;
    }

    .header__menu-link {
        font-size: var(--text-medium);
    }

    .header-menu--hidden {
        display: none;
    }

    .header-menu__icon {
        display: block;
        margin-left: 8px;
    }

    .header-menu__item {
        display: block;
        transform: translateX(0);
        transition: transform 1s;
        margin-left: 0 !important;       
    }

    .header-menu__item:hover {
        transform: translateX(-12px);
    }

    .header-menu__item + .header-menu__item {
        margin-top: 4px;        
    }

    .section-main__container {
        margin-top: 0;
    }

    .section-main__title {
        display: none;
    }

    .section-main__info-greeting {
        font-size: var(--text-big);
    }

    .section-main__info-general {
        font-size: var(--text-small);
    }

    .section-main__info-temp--text {
        font-size: var(--text-small);
    }

    .with-icon::after {
        width: 18px;
        height: 18px;
    }

    .text--output {
        font-size: 24px;
    }

    .footer__links {
        justify-content: flex-start;
        flex-wrap: wrap;
    }

    .footer__link {
        margin-right: 16px;
    }

    .devices-section__menu-container{
        z-index: 1;
    }

    .devices-section__menu {
        flex-direction: column;
        overflow: hidden;
        height: 30px;
        transition: transform 1s;
        transform: scale(0.9)
    }

    .devices-section__menu--hidden {
        overflow: visible;
        transition: transform 1s;
        transform: scale(1)
    }

    .devices-menu--mobile__icon {
        display: inline-block;
        height: 12px;
        transform: rotate(-90deg);
        vertical-align: middle;
        margin-left: 16px;
        filter: brightness(0);
    }

    .devices-menu-item__label {
        background-color: rgb(248, 232, 167);
        
    }

    .devices-section-menu__item:checked + label {
        order: -1;
    }

    .devices-menu-item__label {
        margin-bottom: 3px;
    }

    /* .devices-section__menu--mobile {
        display: inline;
        font-size: 13px;
        padding: 8px 15px;
        background: #FFD93E;
        border: none;
        border-radius: 20px;
        margin-bottom: 20px;
        -webkit-appearance: none;
        -moz-appearance: none;
    } */

    .modal-container {
        grid-template-columns: 334px;
        grid-gap: 15px;
    }

    .modal__main {
        padding: 20px;
    }

    .modal__data {
        display: none;
    }

    .modal__main--state-text {
        font-size: var(--text-small);
        color: var(--text-dark);
    }

    .modal__menu{
        overflow: scroll;
        width: 314px;
    }
    .modal-settings-menu-text {
        font-family: ArialMT;
    }

    .modal__main--range-slider {
        height: 336px;
    }  

    .menu-section__item--range {
        width: 336px;
        transform: rotate(270deg) translate(-135px, -20px);
    }

    .range__extremes {
        flex-direction: column-reverse;
        top: 15px;
        bottom: 18px;
        left: 133px;
        right: 0;
        transform: none;
    }

    .light-range__extremes {
        top: 10px;
        bottom: 13px;
        left: 130px;
    }
}
